/* CodeEditor.css */

.code-editor {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    gap: 10px; /* Adds space between the buttons */
    margin-top: 10px; /* Adds space between the buttons and the textarea */
}

.btn {
    padding: 10px 15px;
    background-color: #1c1c1e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #333;
}
